.container 
  %h3.center Workouts From All Users
  - if current_user
    = link_to 'Add new workout', new_workout_path, class: "btn red"
  - if @workouts.any?
    %table
      %thead
        %tr
          %th
            %h6 Workout Name
          %th
            %h6 Creator Name
          %th
            %h6 Created Date
      %tbody
        - @workouts.each do |workout|
          %tr
            %td
              = link_to workout.name, workout_path(workout), class: 'btn blue-grey'
              - if current_user
                = link_to 'Add to my workouts', add_workout_path(id: workout), method: :post, class: "btn-flat hoverable"
              - if current_user.id == workout.created_by_user
                = link_to 'Delete', delete_workout_path(id: workout), method: :post, class: 'btn-flat hoverable'
            %td
              #{User.find(workout.created_by_user).handle || User.find(workout.created_by_user).first_name ||User.find(workout.created_by_user).email}
            %td
              #{workout.created_at.to_date}           
            %br
        
  -else
    %h4 Unfortunately we do not have any workouts right now. Add your own or check back later!
