.container 
  %h3.center Workouts From All Users
  - if current_user
    = link_to 'Add new workout', new_workout_path, class: "btn red"
  - if @workouts_original.any?
    .row
      .col.s3.offset-s8
        = form_tag "/workouts", method: :get do
          = text_field_tag :workout_name, params[:workout_name], placeholder: "Workout Name"
          = submit_tag 'search', class: 'btn-flat hoverable'
    %table
      %thead
        %tr
          %th
            %h5 Workout Name
          %th
          %th
          %th
            %h5 Creator Name
          %th
            %h5 Created Date
      %tbody
        - @workouts.each do |workout|
          %tr
            %td
              = link_to workout.name, workout_path(workout), class: 'btn blue-grey'
            %td  
              - if current_user
                = link_to 'Add to my workouts', add_workout_path(id: workout), method: :post, class: "btn-flat hoverable"
            %td  
              - if current_user.id == workout.created_by_user
                = link_to 'Delete', delete_workout_path(id: workout), method: :post, class: 'btn-flat hoverable'
            %td
              #{User.find(workout.created_by_user).handle || User.find(workout.created_by_user).first_name || User.find(workout.created_by_user).email}
            %td
              #{workout.created_at.to_date}           
            %br
        
  -else
    %h4 Unfortunately we do not have any workouts right now. Add your own or check back later!
