.container 
  %h3.center #{@workout.name}

  - if @workout.exercises.any?
    .row
      .col.s2
        %h6.center Name
      .col.s2
        %h6.center Weight
      .col.s2
        %h6.center Reps
      .col.s2
        %h6.center Rep Duration (s)
      .col.s2
        %h6.center Rest Duration (s)
    %hr
    .row
      %ul
        - @workout.exercises.each do |exercise|
          %li
            .col.s2.center
              = exercise.name
            .col.s2.center
              = exercise.weight
            .col.s2.center
              = exercise.repetitions
            .col.s2.center
              = exercise.repetition_duration_seconds
            .col.s2.center
              = exercise.rest_duration_seconds
            .col.s2.center
              = link_to 'Do Exercise', edit_workout_exercise_path(@workout, exercise)
            %br
            %hr
  -else
    %h4 No Exercises in this workout. Wasn't that easy? Jk, add some!

  - if current_user
    .center
      = link_to 'Add Exercise', new_workout_exercise_path(@workout), class: 'btn'
      = link_to 'Edit Workout', edit_workout_path(@workout), class: 'btn'
      = link_to 'Complete Workout', do_workout_path(id: @workout), method: :post, class: 'btn'