.container 
  %h3.center #{@workout.name}

  - if @workout.exercises.any?
    %table.highlight
      %thead
        %tr
          %th
            %h6.center Name
          %th
            %h6.center Weight
          %th
            %h6.center Reps
          %th
            %h6.center Rep Duration (s)
          %th
            %h6.center Rest Duration (s)
          %hr
      %tbody
        - @workout.exercises.each do |exercise|
          %tr
            %td
              .col.s2.center
                = exercise.name
            %td
              .col.s2.center
                = exercise.weight
            %td
              .col.s2.center
                = exercise.repetitions
            %td
              .col.s2.center
                = exercise.repetition_duration_seconds
            %td
              .col.s2.center
                = exercise.rest_duration_seconds
            %td
              .col.s2.center
                - if current_user && !@workout.original
                  = link_to 'Do Exercise', edit_workout_exercise_path(@workout, exercise)
            %br
        
  -else
    %h4 No Exercises in this workout. Wasn't that easy? Jk, add some!

  - if current_user
    .center
      = link_to 'Add Exercise', new_workout_exercise_path(@workout), class: 'btn'
      = link_to 'Edit Workout', edit_workout_path(@workout), class: 'btn'
      - if @workout.original
        = link_to 'Save Workout', root_path, class: 'btn'
      - else 
        = link_to 'Finish', finish_path(id: @workout), method: :put, class: 'btn'