%br
.container.grey.lighten-1
  .row
    .col.s10.offset-s1
      %h2.center Sign up
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        .row
          .field.col.s10.offset-s1
            = f.label :email, class: 'red-text'
            %br/
            = f.email_field :email, autofocus: true, class: 'red-text form-border'
          .field.col.s10.offset-s1
            = f.label :password, class: 'red-text'
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} characters minimum)
            %br/
            = f.password_field :password, autocomplete: "off", class: 'red-text form-border'
          .field.col.s10.offset-s1
            = f.label :password_confirmation, class: 'red-text'
            %br/
            = f.password_field :password_confirmation, autocomplete: "off", class: 'red-text form-border'
        .row
          .actions.center
            = f.submit "Sign up", class: 'btn red'
      %br
      .center     
        = render "devise/shared/links"
a