.blue-grey.darken-2
.container
  %h3.center My Profile
  .row.info-font
    .col.s10.m6.l6
      .card.grey.lighten-2
        .card-content
          %h5.center.card-title Your Info
          %h6 Avatar:
          = image_tag @user.avatar.url(:thumb)
          %hr
          %h6 First Name: #{@user.first_name}
          %hr
          %h6 Last Name: #{@user.last_name}
          %hr
          %h6 Handle: #{@user.handle}
          %hr
          %h6 Email: #{@user.email}
          %hr
          %h6 Gender: #{@user.gender}
          %hr
          %h6 Date of Birth: #{@user.date_of_birth}
        .center  
          = link_to 'Edit Profile', edit_user_registration_path(@user), class: "btn orange"
    .col.s10.m6.l6
      .card.grey.lighten-2
        .card-content
          %h5.center.card-title Your Biometrics
          - if @user.biometrics.any?
            %ul.info-font
              %li
                Updated on: #{@user.biometrics.last.date}
                %hr
              %li
                Weight: #{@user.biometrics.last.weight}
                %hr
              %li
                Body Fat %: #{@user.biometrics.last.body_fat_percentage}
                %hr
          .center.activator.hoverable See All
        .card-reveal
          %h5.center.card-title
            Your Biometrics
            %i.material-icons.right close
          - if @user.biometrics.any?
            %ul
              %li 
                Weight: #{@user.biometrics.last.weight}
                %hr
                %br
                Updated on: #{@user.biometrics.last.date}
                %hr
                %br
                Body Fat %: #{@user.biometrics.last.body_fat_percentage}
                %hr
                %br
                Chest: #{@user.biometrics.last.chest} in.
                %hr
                %br
                Height: #{@user.biometrics.last.height} in.
                %hr
                %br
                Waist: #{@user.biometrics.last.waist} in.
                %hr
                %br
                Hips: #{@user.biometrics.last.hips} in.
                %hr
                %br
                Shoulder Girdle: #{@user.biometrics.last.shoulder} in.
                %hr
                %br
                Biceps: #{@user.biometrics.last.biceps} in.
                %hr
                %br
                APE Index: #{@user.biometrics.last.ape_index}
                %hr
                %br
                Thighs: #{@user.biometrics.last.thigh}
                %hr
                %br
                Calves: #{@user.biometrics.last.calf}
                %hr
                %br
                Forearm: #{@user.biometrics.last.forearm}
                %hr
                %br
                Wrist #{@user.biometrics.last.wrist}
                %hr
                %br
                Neck #{@user.biometrics.last.neck}
                %hr
                %br
          - else
            %h6 You Have Not Entered Your Biometrics. Please Update Them.
        .center
          = link_to 'Update Biometrics', new_user_biometric_path(@user), class: "btn purple"

