.container
  %br
  .row.center
    %h3 Why use Traction?
    %h5.info-font.blue-text.lighten-5 It's simple, fast and easy to use. 
    %br
  .row.center
    %h3 How it works
    %h5.info-font.blue-text.lighten-5 One platform to plan, deliver, & track your training.
    %h5.info-font.blue-text.lighten-5 Just create or use a workout, and log your sessions. 
    %h5.info-font.blue-text.lighten-5 We do the rest.
    %br
.grey.lighten-2.our-team
  .container
    .row.center
      %h3 Our Team
    .row.team-row.center
      .col.s5.offset-s1.grey.lighten-4
        %br
        = image_tag "amy_600.jpg", class: "about-picture"
        %h5.info-font
          %a.blue-text.lighten-5{:href => "https://www.linkedin.com/in/aeisenmenger", target: "_blank"} Amy Eisenmenger
        %a.info-font.blue-text.lighten-5{href: "mailto:amy@traction.fitness"} amy@traction.fitness
      .col.s5.grey.lighten-4
        %br
        = image_tag "derrick_600.jpg", class: "about-picture"
        %h5.info-font
          %a.blue-text.lighten-5{:href => "https://www.linkedin.com/in/derrick-whiting-4ba84a36", target: "_blank"} Derrick Whiting
        %a.info-font.blue-text.lighten-5{href: "mailto:derrick@traction.fitness"} derrick@traction.fitness
    .row.team-row.center
      .col.s5.offset-s1.grey.lighten-4
        %br
        = image_tag "ander_600.jpg", class: "about-picture"
        %h5.info-font
          %a.blue-text.lighten-5{:href => "https://www.linkedin.com/in/ander-rockstad-82411226", target: "_blank"} Ander Rockstad
        %a.info-font.blue-text.lighten-5{href: "mailto:ander@traction.fitness"} ander@traction.fitness
      .col.s5.grey.lighten-4
        %br
        = image_tag "val_600.jpg", class: "about-picture"
        %h5.info-font
          %a.blue-text.lighten-5{:href => "https://www.linkedin.com/in/valeriaroca", target: "_blank"} Valeria Roca Rockstad 
        %a.info-font.blue-text.lighten-5{href: "mailto:valeria@traction.fitness"} valeria@traction.fitness
    .row.team-row.center
      .col.s10.offset-s1.center.grey.lighten-4
        %br
        = image_tag "ladd_600.jpg", class: "about-picture"
        %h5.info-font
          %a.blue-text.lighten-5{:href => "https://www.linkedin.com/in/ladd-laulusa-6b54705a", target: "_blank"} Ladd Laulusa
        %a.info-font.blue-text.lighten-5{href: "mailto:ladd@traction.fitness"} ladd@traction.fitness
        %br
        %br
  .row.center
    %h5.info-font
      We all met at
      %a.blue-text{:href => "http://www.devpointlabs.com/", target: "_blank"} DevPoint Labs

        
