.container
  %br
  .row.center
    %h3 Why use Traction?
    %h5.info-font.red-text.text-darken-4 It's simple, fast, and easy to use. 
    %br
  .row.center
    %h3 How it works
    %h5.info-font.red-text.text-darken-4 One platform to plan, deliver, and track your training.
    %h5.info-font.red-text.text-darken-4 Just create or use a workout, and log your sessions. 
    %h5.info-font.red-text.text-darken-4 We do the rest.
    %br
.grey.lighten-2.our-team
  .container
    .row.center
      %h3 Our Team
    .z-depth-4.grey.lighten-4  
      .row.team-row.center
        .col.s5.offset-s1.grey.lighten-4
          %br
          = image_tag "amy_600.jpg", class: "about-picture"
          %h5.info-font
            %a.red-text.text-darken-4 Amy Eisenmenger
          %a.info-link.info-font.red-text.text-accent-4{href: "mailto:amy@traction.fitness"} amy@traction.fitness
          %br
          %a.info-link.info-font.red-text.text-accent-4{href: "https://www.linkedin.com/in/aeisenmenger", target: "_blank"}
            = image_tag "linkedin_logo.png", class: "logo-link"
          %a.info-link.info-font.red-text.text-accent-4{href: "https://github.com/amyeisenmenger", target: "_blank"} 
            = image_tag "github_logo.png", class: "logo-link"
        .col.s5.grey.lighten-4
          %br
          = image_tag "derrick_600.jpg", class: "about-picture"
          %h5.info-font
            %a.red-text.text-darken-4 Derrick Whiting
          %a.info-link.info-font.red-text.text-accent-4.link-hover{href: "mailto:derrick@traction.fitness"} derrick@traction.fitness
          %br
          %a.info-link.info-font.red-text.text-accent-4{href: "https://www.linkedin.com/in/derrick-whiting-4ba84a36", target: "_blank"}
            = image_tag "linkedin_logo.png", class: "logo-link"
          %a.info-link.info-font.red-text.text-accent-4{href: "https://github.com/derrickwhiting", target: "_blank"} 
            = image_tag "github_logo.png", class: "logo-link"
      .row.team-row.center
        .col.s5.offset-s1.grey.lighten-4
          %br
          = image_tag "ander_600.jpg", class: "about-picture"
          %h5.info-font
            %a.red-text.text-darken-4 Ander Rockstad
          %a.info-link.info-font.red-text.text-accent-4{href: "mailto:ander@traction.fitness"} ander@traction.fitness
          %br
          %a.info-link.info-font.red-text.text-accent-4{href: "https://www.linkedin.com/in/ander-rockstad-82411226", target: "_blank"}
            = image_tag "linkedin_logo.png", class: "logo-link"
          %a.info-link.info-font.red-text.text-accent-4{href: "https://github.com/AKsunseeker", target: "_blank"} 
            = image_tag "github_logo.png", class: "logo-link"
        .col.s5.grey.lighten-4
          %br
          = image_tag "val_600.jpg", class: "about-picture"
          %h5.info-font
            %a.red-text.text-darken-4 Valeria Roca Rockstad 
          %a.info-link.info-font.red-text.text-accent-4{href: "mailto:valeria@traction.fitness"} valeria@traction.fitness
          %br
          %a.info-link.info-font.red-text.text-accent-4{href: "https://www.linkedin.com/in/valeriaroca", target: "_blank"}
            = image_tag "linkedin_logo.png", class: "logo-link"
          %a.info-link.info-font.red-text.text-accent-4{href: "https://github.com/Valcroca", target: "_blank"}
            = image_tag "github_logo.png", class: "logo-link"
      .row.team-row.center
        .col.s10.offset-s1.center.grey.lighten-4
          %br
          = image_tag "ladd_600.jpg", class: "about-picture"
          %h5.info-font
            %a.red-text.text-darken-4 Ladd Laulusa
          %a.info-link.info-font.red-text.text-accent-4{href: "mailto:ladd@traction.fitness"} ladd@traction.fitness
          %br
          %a.info-link.info-font.red-text.text-accent-4{href: "https://www.linkedin.com/in/ladd-laulusa-6b54705a", target: "_blank"}
            = image_tag "linkedin_logo.png", class: "logo-link"
          %a.info-link.info-font.red-text.text-accent-4{href: "https://github.com/llaulusa", target: "_blank"} 
            = image_tag "github_logo.png", class: "logo-link"
          %br
          %br
    .row.center
      %h5.info-font
        We all met at
        %a.info-link.red-text.text-darken-4{href: "http://www.devpointlabs.com/", target: "_blank"} DevPoint Labs
  