.slider.fullscreen
  %ul.slides
    %li
      = image_tag "crossfit.jpg", class: 'responsive-img'
      .caption.center-align
        %h1.red-text The Next Level in Fitness
    %li
      = image_tag "openwater.jpg", class: 'responsive-img'
      .caption.left-align
        %h1.black-text Log Your Training Sessions
    %li
      = image_tag "bodybuilding.jpg", class: 'responsive-img'
      .caption.right-align
        %h1.pink-text Create your Own Workout Plans
    %li
      = image_tag "sprinter_stock.jpg", class: 'responsive-img'
      .caption.center-align
        %h1.teal-text.lighten-2 Go to the Next Level
    %li
      = image_tag "Fitness-Background-5.jpg", class: 'responsive-img'
      .caption.left-align
        %h1.yellow-text Get some Traction on your Workout Routines
    %li
      = image_tag "gray_climber.jpg", class: 'responsive-img'
      .caption.right-align
        %h1.orange-text Keep Track of your Progress
    %li
      = image_tag "how-to-run-properly.jpg", class: 'responsive-img'
      .caption.center-align
        %h1.blue-text Log your Meassurements
    %li
      = image_tag "athlete1.jpg"
      .caption.left-align
        %h1.deep-purple-text.darken-1 Become a better athlete

