.slider
  %ul.slides
    %li
      = image_tag "crossfit.jpg", class: 'responsive-img '
      .caption.center-align
        %h1.white-text The Next Level in Fitness
    %li
      = image_tag "openwater.jpg", class: 'responsive-img'
      .caption.center-align
        %h1.white-text Log Your Training Sessions
    %li
      = image_tag "bodybuilding.jpg", class: 'responsive-img'
      .caption.center-align
        %h1.white-text Create Your Own Workout Plans
    %li
      = image_tag "sprinter_stock.jpg", class: 'responsive-img'
      .caption.center-align
        %h1.white-text Go to the Next Level
    %li
      = image_tag "Nature.png", class: 'responsive-img'
      .caption.center-align
        %h1.white-text Get More Traction on Your Workout Routines
    %li
      = image_tag "fingerboarding.jpg", class: 'responsive-img'
      .caption.right-align
        %h1.white-text Keep Track of Your Progress
    %li
      = image_tag "mountain-biking-4.jpg", class: 'responsive-img'
      .caption.center-align
        %h1.white-text Log Your Biometrics
    %li
      = image_tag "mountains.jpg", class: 'responsive-img'
      .caption.center-align
        %h1.white-text Become a Better Athlete

