.slider.fullscreen
  %ul.slides
    %li
      = image_tag "athlete1.jpg"
      .caption.center-align
        %h1.red-text The next level in Fitness
    %li
      = image_tag "athlete2.jpg"
      .caption.left-align
        %h1.green-text Log Your Workouts
    %li
      = image_tag "bodybuilding.jpg"
      .caption.right-align
        %h1.pink-text Create your Own Workout Plans
    %li
      = image_tag "crossfit.jpg"
      .caption.center-align
        %h1.teal-text.lighten-2 Go to the next level
    %li
      = image_tag "Fitness-Background-5.jpg"
      .caption.left-align
        %h1.yellow-text Get some Traction on your workout routines.
    %li
      = image_tag "gray_climber.jpg"
      .caption.right-align
        %h1.orange-text Keep track of your progress
    %li
      = image_tag "how-to-run-properly.jpg"
      .caption.center-align
        %h1.blue-text Log your meassurements
    %li
      = image_tag "India-bouldering.jpg"
      .caption.left-align
        %h1.deep-purple-text.darken-1 Become a better athlete
/ .row
/   .col.s12.m4
/     .card
/       .card-image
/         = image_tag "case_1.jpg"
/         %span.card-title Case Study 1
/       .card-content
/         %p
/           I am a very simple card. I am good at containing small bits of information.
/           I am convenient because I require little markup to use effectively.
/       .card-action
/         %a{:href => "#"} This is a link
/   .col.s12.m4
/     .card
/       .card-image
/         = image_tag "ander.jpg"
/         %span.card-title Case Study 2
/       .card-content
/         %p
/           I am a very simple card. I am good at containing small bits of information.
/           I am convenient because I require little markup to use effectively.
/       .card-action
/         %a{:href => "#"} This is a link
/   .col.s12.m4
/     .card
/       .card-image
/         = image_tag "serena.jpg"
/         %span.card-title Case Study 3
/       .card-content
/         %p
/           I am a very simple card. I am good at containing small bits of information.
/           I am convenient because I require little markup to use effectively.
/       .card-action
/         %a{:href => "#"} This is a link