.container
  .row
    .col.s12.m12.l12
      %p.notice= notice
      %p.alert= alert
      %h3.center 
        -if current_user.first_name
          Welcome #{current_user.first_name} #{current_user.last_name}
        -else 
          Welcome #{current_user.email}
  .row
    .col.s12.m4.l4
      .card.blue.lighten-3.hoverable
        .card-content
          .card-title.col.s7.red-text.text-darken-4
            Workouts
          .col.s4
            = link_to 'Create', new_workout_path, class: 'btn red darken-4'
          %br
          .row
          %br
            - unless @added_workouts.nil?  
              - @added_workouts.each do |workout|
                .row
                  .col.s5
                    = link_to workout.name, workout_path(workout), class: 'black-text'
                  .col.s7
                    = link_to 'Do it', do_workout_path(id: workout), method: :post, class: 'red-text text-darken-4'
                    | 
                    = link_to 'History', workout_history_path(id: workout), class: 'red-text text-darken-4'
                    |
                    = link_to 'Remove', remove_workout_path(id: workout), method: :post, class: 'red-text text-darken-4'
                %hr
            - else
              %h6 No Workouts
            %br
            = paginate @added_workouts unless @added_workouts.nil?

      .card.green.lighten-2.hoverable
        .card-content
          .card-title.red-text.text-darken-4
            Completed Workouts
          %br
          - if current_user.workouts.where(complete: true).any?
            - current_user.workouts.where(complete: true).each do |workout|
              .row.info-font
                .col.s7
                  = workout.name
                .col.s5
                  = link_to 'Do It Again', do_workout_path(id: workout), method: :post, class: 'red-text text-darken-4'
              %hr
            = paginate @list_workouts
            %br
    .col.s12.m8.l8
      .card.grey.lighten-2.hoverable
        .card-content
          = react_component "Progress", {workouts: @unique_workout_names}        
              