.container
  %h1.center Welcome Back #{current_user.email}
  .row
    .col.s6
      %h3.center Your Workout Plans
      .center
        = link_to 'Create Workout', new_workout_path, class: 'btn red'
      - current_user.workouts.where(complete: false).each do |workout|
        %ul
          %li
            .card.grey
              .card-content.red-text.text-darken-4
                .card-title.red-text.text-darken-4
                  = workout.name
                .card-link
                  = link_to 'Do Workout', do_workout_path(id: workout), method: :post, class: 'black-text'
    .col.s6
      %h3.center Progress 
      / todo: put in charts
      %canvas#workout_progress{height: 400}

  .row
    .col.s6
      %h3.center Completed Workouts
      .center
      - current_user.workouts.where(complete: true).each do |workout|
        %ul
          %li
            .card.green
              .card-content.black-text
                .card-title
                  = workout.name
                .card-link.red-text
                  = link_to 'Do Workout Again', do_workout_path(id: workout), method: :post, class: 'black-text'