%br
.container.grey.lighten-1
  .row
    .col.s10.offset-s1
      %h2.center Log in
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .row
          .field.col.s10.offset-s1
            = f.label :email, class: 'red-text'
            %br/
            = f.email_field :email, autofocus: true, class: 'red-text form-border'
          .field.col.s10.offset-s1
            = f.label :password, class: 'red-text'
            %br/
            = f.password_field :password, autocomplete: "off", class: 'red-text form-border'
        - if devise_mapping.rememberable?
          .field.col.s10.offset-s1
            = f.check_box :remember_me, class: 'red-text'
            = f.label :remember_me, class: 'red-text'
        %br
        .actions.center
          = f.submit "Log in", class: 'btn red'
      %br
      .center
        = render "devise/shared/links"