-if user_signed_in?
  = form_for @category do |f|
    = f.label :address
    = f.text_field :address
    %br
    = f.label :zip
    = f.text_field :zip
    %br
    = f.label :square_footage 
    = f.number_field :square_footage
    %br
    = f.label :description 
    = f.text_area :description 
    %br
    = f.submit 