.row
  .col.s12.m8.l6.offset-m2.offset-l3
    = form_for [@user, @biometric] do |f|
      = f.date_field :date, autofocus: true, placeholder: @date
      %br
      = f.number_field :weight, placeholder: 'weight'
      %br
      = f.number_field :body_fat_percentage, placeholder: 'body fat percentage '
      %br
      = f.number_field :chest, placeholder: 'chest'
      %br
      = f.number_field :height, placeholder: 'height'
      %br
      = f.number_field :waist, placeholder: 'waist'
      %br
      = f.number_field :shoulder, placeholder: 'shoulder'
      %br
      = f.number_field :hips, placeholder: 'hips'
      %br
      = f.number_field :biceps, placeholder: 'biceps'
      %br
      = f.number_field :thigh, placeholder: 'thigh'
      %br
      = f.number_field :calf, placeholder: 'calf'
      %br
      = f.number_field :forearm, placeholder: 'forearm'
      %br
      = f.number_field :wrist, placeholder: 'wrist'
      %br
      = f.number_field :neck, placeholder: 'neck'
      %br

      = f.submit class: 'btn red darken-4 '

/ left off :dateof_birth, :gender, :height, :exercise_id, :ape_index