
.container  
  .center
    %h3 Biometric from #{@biometric.date}
    = link_to 'Edit', edit_user_biometric_path(current_user, @biometric), class: 'btn red'
    = link_to 'Delete', user_biometric_path(current_user, @biometric), method: :delete, class: 'btn red'
    = link_to 'All Biometrics', user_biometrics_path(current_user), class: 'btn red'

    
  .row
    .card.col.s6.offset-s3
      .card-content
        .row
          .col.s4.offset-s1
            %h5 Weight:
          .col.s6.right
            %h5 #{@biometric.weight}
        %hr
        .row
          .col.s4.offset-s1
            %h5 Body fat %:
          .col.s6.right
            %h5 #{@biometric.body_fat_percentage}
        %hr
        .row
          .col.s4.offset-s1
            %h5 Chest:
          .col.s6.right
            %h5 #{@biometric.chest}
        %hr
        .row
          .col.s4.offset-s1
            %h5 Height:
          .col.s6.right
            %h5 #{@biometric.height}
        %hr
        .row
          .col.s4.offset-s1
            %h5 Waist:
          .col.s6.right
            %h5 #{@biometric.waist}
        %hr
        .row
          .col.s4.offset-s1
            %h5 Shoulder:
          .col.s6.right
            %h5 #{@biometric.shoulder}
        %hr
        .row
          .col.s4.offset-s1
            %h5 Hips:
          .col.s6.right
            %h5 #{@biometric.hips}
        %hr
        .row
          .col.s4.offset-s1
            %h5 Biceps:
          .col.s6.right
            %h5 #{@biometric.hips}
        %hr
        .row
          .col.s4.offset-s1
            %h5 Thigh:
          .col.s6.right
            %h5 #{@biometric.biceps}
        %hr
        .row
          .col.s4.offset-s1
            %h5 Calf:
          .col.s6.right
            %h5 #{@biometric.thigh}
        %hr
        .row
          .col.s4.offset-s1
            %h5 Forearm:
          .col.s6.right
            %h5 #{@biometric.forearm}
        %hr
        .row
          .col.s4.offset-s1
            %h5 Wrist:
          .col.s6.right
            %h5 #{@biometric.wrist}
        %hr
        .row
          .col.s4.offset-s1
            %h5 Neck:
          .col.s6.right
            %h5 #{@biometric.neck}


