= form_for [@workout, @exercise] do |f|
  = f.text_field :name, autofocus: true, placeholder: 'Name'
  %br
  = f.number_field :weight, placeholder: 'Weight'
  %br
  = f.number_field :repetitions, placeholder: 'Repetitions'
  %br
  = f.number_field :repetition_duration_seconds, placeholder: 'Duration in seconds for Repetition'
  %br
  = f.number_field :rest_duration_seconds, placeholder: 'Rest Duration in seconds'
  %br
  = f.hidden_field :workout_id, value: @workout.id
  %br
  .center
    = f.submit class: 'btn'




