= form_for @location do |f|
  = f.text_field :street, autofocus: true, placeholder: 'Street'
  %br
  = f.text_field :city, autofocus: true, placeholder: 'City'
  %br
  = f.text_field :state, placeholder: 'State'
  %br
  = f.text_field :zip, placeholder: 'Zip'
  %br

  = f.submit