  <!DOCTYPE html>
<html>
<head>
  <title>Traction</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
    <main>
      <%= render(partial: 'layouts/nav_bar') %>
      <%= yield %>
    </main>
    <footer>
      <%= render(partial: 'layouts/footer') %>
    </footer>
</body>
</html>
